### CBNA Summer School 2019 -- Online Social Networks and Media <br> Python Lab 1

Author: Zhen Zhu <br> __http://twitter.com/zhenzhunet__

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx

%matplotlib inline

1. Python as a calculator and visualiser

In [ ]:
1+1

In [ ]:
16-9

In [ ]:
3*4

In [ ]:
45/7

In [ ]:
3**2

In [ ]:
# display strings
print('Hello World!')

In [ ]:
np.arange(1,10)

In [ ]:
# create a sequence of real numbers
x = np.arange(-3.5,3.5,0.1)
# create another sequence with a function
y = np.sin(x)

In [ ]:
y

In [ ]:
# Plot the function
plt.plot(x,y,marker='o',color='red')

In [ ]:
?plt.plot

2. Python as excel

In [ ]:
# create an empty list 
myList = []
# populate the list with the alphabets from a to z
for i in range(ord('a'),ord('z')+1):
    myList.append(chr(i))

In [ ]:
myList

In [ ]:
# create an empty dictionary
myDict = {}
# populate the dictionary with keys and values
for i in range(len(myList)):
    myDict[i] = myList[i]

In [ ]:
myDict

In [ ]:
# create table content with dictionary
myDict = {'Name': ["Anna", "Betty", "Charles", "David"],
'Location' : ["New York", "Paris", "Berlin", "London"],
'Age' : [24, 13, 53, 33]
}

In [ ]:
myDF = pd.DataFrame(myDict)

In [ ]:
myDF

In [ ]:
# return the content at column 0 and row 0
myDF.iloc[0,0]

In [ ]:
# alternatively
myDF.loc[0,'Name']

In [ ]:
# subset dataframe by row
myDF[myDF['Age']>20]

In [ ]:
# subset dataframe by column
myDF[['Age','Location']]

In [ ]:
# define a function
def mySquareFun(david):
    y = david**2
    return y

In [ ]:
mySquareFun(4)

In [ ]:
myDF['AgeSquare'] = myDF['Age'].apply(mySquareFun)

In [ ]:
myDF

In [ ]:
# alternatively using lambda function
myDF['AgeSquare2'] = myDF['Age'].apply(lambda x:x**2)

In [ ]:
myDF

3. An example with twitter data

In [ ]:
# put the data file name
# the original data can be found at https://data.world/socialmediadata/twitter-us-airline-sentiment
myFilePath = "Airline-Sentiment.csv"

In [ ]:
# read csv directly as a dataframe
myData = pd.read_csv(myFilePath,encoding='latin1')

In [ ]:
# check the first 10 rows of the dataframe
myData.head(10)

In [ ]:
# check the types of each variable/column
myData.dtypes

In [ ]:
# summary statistics of a categorical variable
myData.airline_sentiment.describe()

In [ ]:
# summary statistics of a continuous variable
myData.retweet_count.describe()

In [ ]:
# bar plot of airlines
myData.airline.value_counts().plot(kind='bar')

In [ ]:
# bar plot of the sentiment categories
myData.airline_sentiment.value_counts().plot(kind='bar')

4. Exercises

4.1 Plot the frequency of each sentiment category for Southwest

In [ ]:
mySW = myData[myData.airline>'Southwest']

In [ ]:
mySW.head(10)

In [ ]:
mySW.airline_sentiment.value_counts().plot(kind='bar')

4.2 Which airline has the lowest proportion of negative tweets?